# PyTorch CUDA wheels from official PyTorch index (choose your cuda with cuxxx)
# --extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2

yt-dlp>=2025.6.30
youtube-transcript-api==1.1.1
tqdm==4.65.2
numpy==1.26.4
pandas==2.3.0
opencv-python==4.11.0.86
mediapipe==0.10.21
psutil==7.0.0
ftfy==6.3.1
matplotlib==3.9.4